DB_USER=
DB_PASSWORD=
NOVU_SECRET_KEY=
GCLOUD_AUTH_DIR=

REDIS_URI=
SURREAL_URI=
SURREAL_PASS=
SURREAL_USER=
MEDIA_MICROSERVICE_URL=
GCS_BUCKET_URI=
GCS_BUCKET_NAME=
SURREAL_PASS=
SURREAL_USER=
GOOGLE_CLOUD_PROJECT=
LOCATION=
STREAM_TYPE=
LIVESTREAM_OUTPUT_URI=
# GOOGLE_APPLICATION_CREDENTIALS=
# RABBITMQ_URI=
RABBITMQ_URI=
RABBITMQ_MEDIA_QUEUE=
RABBITMQ_R18E_QUEUE=
CLOUDFLARE_API_TOKEN=
CLOUDFLARE_ACCOUNT_ID=