[pytest]
env =
    ENVIRONMENT={ENVIRONMENT}
    NOVU_SECRET_KEY={NOVU_SECRET_KEY}
    REDIS_URI={REDIS_URI}
    SURREAL_URI={SURREAL_URI}
    SURREAL_PASS={SURREAL_PASS}
    SURREAL_USER={SURREAL_USER}
    GOOGLE_CLOUD_PROJECT=
    GCS_BUCKET_URI=gs://partyscene
    GCS_BUCKET_NAME=partyscene
    LOCATION=us-central1
    STREAM_TYPE={STREAM_TYPE}
    OUTPUT_URI=
    # GOOGLE_APPLICATION_CREDENTIALS={GOOGLE_APPLICATION_CREDENTIALS}
    SCHEMA_FILE=init/schema.surql
    # /home/ for Docker init/ for debz
    asyncio_mode = auto
    asyncio_default_fixture_loop_scope = session
    MEDIA_MICROSERVICE_URL=
    # RABBITMQ_URI={RABBITMQ_URI}
    RABBITMQ_URI={RABBITMQ_URI}
    RABBITMQ_MEDIA_QUEUE={RABBITMQ_MEDIA_QUEUE}
    RABBITMQ_R18E_QUEUE={RABBITMQ_R18E_QUEUE}