quart
ujson
redis
quart-jwt-extended
typing-extensions
httpx
novu-py
surrealdb
granian[uvloop]; sys_platform != 'win32'
granian; sys_platform == 'win32'
purreal
aiocache
prometheus-client
faststream[rabbit]
orjson
cryptography
google-cloud-secret-manager
uuid-utils
ormsgpack
obstore
bleach
email-validator
python-ffmpeg