quart
ujson
redis
quart-jwt-extended
typing-extensions
httpx
novu-py
surrealdb
granian[uvloop]
purreal
aiocache
prometheus-client
faststream[rabbit]
orjson
cryptography
google-cloud-secret-manager
uuid-utils