quart
ujson
redis
quart-jwt-extended
typing-extensions
httpx
novu-py
surrealdb
granian[uvloop]; sys_platform != 'win32'
granian; sys_platform == 'win32'
purreal==0.1.2
aiocache
prometheus-client
faststream[rabbit]
orjson
cryptography
google-cloud-secret-manager
uuid-utils
ormsgpack
obstore
bleach
email-validator
pillow-heif
python-ffmpeg
PyJWT[crypto]>=2.10.1
paystack-sdk
cloudflare
tenacity
rusty-req
getstream[webrtc]
stream-chat